@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Add box-sizing to include borders in element sizes */
}

.body {
  background: url("bg.jpg");
  min-height: 100vh;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scoreBox {
  position: absolute;
  top: 1rem;
  right: 5%;
  font-size: 3vw; /* Adjust font size using viewport width (vw) units */
  font-weight: bold;
  font-family: 'New Tegomin', serif;
}

#hiscoreBox {
  position: absolute;
  top: 5rem;
  right: 5%;
  font-size: 3vw; /* Adjust font size using viewport width (vw) units */
  font-weight: bold;
  font-family: 'New Tegomin', serif;
}

#board {
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  width: 90vmin;
  max-width: 800px; /* Set a maximum width to prevent the board from getting too large */
  height: 92vmin;
  max-height: 800px; /* Set a maximum height to prevent the board from getting too large */
  border: 2px solid black;
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
  margin-bottom: 2rem; /* Add some margin at the bottom for spacing */
}

.head {
  background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
  border: 2px solid rgb(34, 4, 34);
  transform: scale(1.02);
  border-radius: 9px;
}

.snake {
  background-color: purple;
  border: 1vmin solid white;
  border-radius: 12px;
}

.food {
  background: linear-gradient(red, purple);
  border: 1vmin solid black;
  border-radius: 8px;
}

/* Media Query for smaller screen sizes */
@media screen and (max-width: 600px) {
  #scoreBox {
    font-size: 5vw;
    right: 2%;
  }

  #hiscoreBox {
    font-size: 5vw;
    top: 10rem;
    right: 2%;
  }

  #board {
    width: 80vmin;
    height: 82vmin;
  }

  .snake {
    border: 2vmin solid white;
    border-radius: 8px;
  }

  .food {
    border: 2vmin solid black;
    border-radius: 5px;
  }
}


/* Add more CSS styles as needed */
